<div class="agent-container">
  <h2>All Tickets</h2>
  <ul>
    {{#each @tickets as |ticket|}}
      <li class="agent-ticket">
        <h3>{{ticket.subject}}</h3>
        <p>Status: {{ticket.status}}</p>
        <button
          class="agent-button"
          type="button"
          {{on "click" (fn this.viewDetail ticket.id)}}
        >View Details</button>
      </li>
    {{/each}}
  </ul>
</div>