<h2>Today's Open Tickets</h2>

<ul>
  {{#each this.tickets as |ticket|}}
    <li>
      <strong>{{ticket.title}}</strong>
      —
      {{ticket.status}}<br />
      <small>Created: {{ticket.createdAt}}</small>
    </li>
  {{/each}}
</ul>