<form {{on "submit" this.postComment}}>
  <label for="comment">Comment:</label>
  <textarea id="comment" {{on "input" this.updateComment}}></textarea>
  <button type="submit">Post Comment</button>
</form>