{{#if this.canComment}}
  <form {{on "submit" this.postComment}}>
    <textarea placeholder="Write your comment..." {{on "input" this.updateComment}}>{{this.commentText}}</textarea>
    <button type="submit">Post Comment</button>
  </form>
{{else}}
  <p>You can only comment after an agent has responded.</p>
{{/if}}
