<form {{on "submit" this.submitTicket}}>
  <input type="text" placeholder="Subject" {{on "input" this.updateSubject}} />
  <textarea placeholder="Describe your issue" {{on "input" this.updateMessage}}></textarea>
  <input type="file" accept="image/*,application/pdf" {{on "change" this.uploadFile}} />
  <button type="submit">Submit</button>
</form>
